---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "June 2024 to December 2024",
    title: "Front-end web developer at alphabit infoway pvt.ltd Rajkot",
    description:
      "- Designed user-friendly interfaces and improved user experiences through responsive designs. Utilized React JS and Tailwind CSS to build scalable, visually appealing front-end solutions. Conducted usability testing to gather user insights and align development with objectives. Created prototypes and high-fidelity mockups using Figma and Adobe XD. Achieved seamless collaboration and efficient tracking using GitHub for version control. Delivered cross-device compatibility and ensured accessibility standards..",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
